#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

export DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)
ifeq (,$(filter amd64 i386 powerpc,$(DEB_HOST_ARCH)))
        ENABLE_MEMCHECK_OPTION = OFF
else
        ENABLE_MEMCHECK_OPTION = ON
endif

%:
	dh $@ --parallel --fail-missing

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_DOXYGEN=YES -DENABLE_MEMCHECK_OPTION=${ENABLE_MEMCHECK_OPTION}

override_dh_makeshlibs:
	dh_makeshlibs -V
